<script src="/javascripts/feedPageScript.js"></script>

<div class="container">
  <div class="text-center">
    <a class="btn btn-primary btn-lg btn-davidson-red" data-toggle="collapse" href="#new-message-form" role="button" aria-expanded="false" aria-controls="new-message-form">
      <i class="fas fa-feather-alt"></i>  New Message
    </a>
  </div>

  <div class="collapse" id="new-message-form" style="margin-top: 1rem">{{> messageForm}}</div>
  <hr class="my-4"></hr>
  <div class="row justify-content-center">
  <div class="col-10">
  <div class="container row row-cols-1 row-cols-md-1" style="margin-left: 0; margin-right: 0;">
    {{#each messages}}
      <div class="col mb-4">
        <div class="card message-card shadow">
          <div class="card-header" style="padding-left: 5%;">
            <div class="d-flex justify-content-between"><span><h5 style="display: inline;"><strong>{{user.firstName}} {{user.lastName}}</strong>: {{subject}}</h5></span>{{#if user.joined}}<span class="align-middle"><h6><em>Member of {{../department.name}}</em></h6></span>{{/if}}</div>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{messageBody}}</p>
              <footer class="blockquote-footer text-right">{{createdAt}}</footer>
            </blockquote>
          </div>
          <div class="buttons text-right" style="margin-right: 5%;">
            <span>{{numLikes}} Likes  </span>
            <a href="/spaces/{{@root.department.name}}/messages/{{id}}/like" class="btn btn-davidson-red btn-primary btn-sm">Like</a>
            {{#if replies}}
            <button class="btn btn-davidson-red btn-primary btn-sm" type="button" style="display: inline;" onclick="showReplies({{id}})">Replies ({{numReplies}})</button>
            {{/if}}
            <button class="btn btn-davidson-red btn-primary btn-sm" type="button" style="display: inline" onclick="displayReplyForm({{id}})">Reply</button>
          </div>
        </div>
        {{!-- Reply Form --}}
        <div id="{{id}}-reply-form" style="margin-top: .5rem; display: none;">
          {{> replyForm}}
        </div>
        {{!-- Display Replies --}}
        {{#if replies}}
        <div class="container row row-cols-1 justify-content-end">
          <div class="col-7">
          <div class="container row-row-cols-1" id="{{id}}-replies" style="display: none; margin-top: 1rem;">
          {{#each replies}}
            <div class="card message-card shadow-sm">
              <div class="card-header d-flex justify-content-between" style="padding-left: 5%;"><span><h5><strong>{{user.firstName}} {{user.lastName}}</strong></h5></span>{{#if user.joined}}<span><h6><em>Member of {{@root.department.name}}</em></h6></span>{{/if}}</div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>{{messageBody}}</p>
                  <footer class="blockquote-footer text-right">{{createdAt}}</footer>
                </blockquote>
              </div>
              <div class="text-right" style="margin-right: 5%;">
                <span>{{numLikes}} Likes</span>
                <a href="/spaces/{{@root.department.name}}/messages/{{id}}/like" class="btn btn-davidson-red btn-primary btn-sm">Like</a>
              </div>
            </div>
          {{/each}}
          </div>
          </div>
        </div>
        {{/if}}

      </div>
    {{/each}}
  </div>
  </div>
  </div>
</div>
