<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      {{#each reviews}}
        <div class="container">
          <h3>{{review.course.courseNumber}}: {{review.courseTitle}}</h3>
          <h5>{{review.rating}}</h5>
          <p>{{review.description}}</p>
          <p>{{review.review}}</p>
        </div>
      {{/each}}
    </div>
  </div>

</div>
