<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
    <div class="text-center">
      <a href="/newReview" class="btn-primary btn btn-lg btn-davidson-red"><i class="fas fa-feather-alt"></i> Write a Course Review</a>
    </div>
    <hr class="my-4"></hr>
    <div class="container row row-cols-1 row-cols-md-1">

    </div>
      {{#each reviews}}
        <div class="col mb-4">
          <div class="card shadow review-card">
            <div class="card-header text-center" style="background-color: rgba(179, 179, 179, 0);">
              <span><h4 style="display: inline;"><strong>{{course.courseNumber}}</strong>: <em>{{courseTitle}}</em> - {{faculty.name}}{{#if semester}}, {{semester}}{{/if}}</h4></span>
            </div>
            <div class="card-body" style="padding: 4%;">
              <blockquote class="blockquote mb-0">
                <h4><strong>Description</strong></h4>
                <p class="card-text">{{description}}</p>
                <h4><strong>Review</strong></h4>
                <p class="card-text">{{review}}</p>
                <h5><strong>Rating</strong>: {{rating}}/10</h5>
              </blockquote>
            </div>
          </div>
        </div>
      {{/each}}
      </div>
  </div>
</div>
