<header class="navbar fixed-top navbar-expand-sm navbar-dark justify-content-between bd-navbar" id="userbar">
  <a class="navbar-brand" href="/">
    {{!-- <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> --}}
    Major Space
  </a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userLinks" aria-controls="userLinks" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {{#if user}}
  <div class="collapse navbar-collapse justify-content-between navbar-nav-scroll" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto flex-row nav-fill">
      {{!-- <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li> --}}
      <li class="nav-item" style="width: max-content;">
        <select class="form-control selectpicker" styleBase="form-control" style="" title="{{#if department}}{{department.name}}{{else}}Department{{/if}}" data-live-search="true" id="department-selector" onchange="this.options[this.selectedIndex].value && (window.location.pathname = this.options[this.selectedIndex].value);">

          {{#each departments}}
            <option value="/spaces/{{name}}">{{name}}</option>
          {{/each}}
        </select>
      </li>
      {{#if department}}
        <li class="nav-item">
          <a class="nav-link {{#if feedTab}}active{{/if}}" href="/spaces/{{department.name}}">Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if reviewsTab}}active{{/if}}" href="/spaces/{{department.name}}/reviews">Course Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if facultyTab}}active{{/if}}" href="/spaces/{{department.name}}/faculty">Faculty</a>
        </li>
      {{/if}}
    </ul>
  </div>
  {{/if}}
  <ul class="navbar-nav ml-md-auto">
    {{#if user}}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user"></i>
        {{user.firstName}}
      </a>
      <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="navbarDropdown" id="user-dropdown">
        <form action="/user/sign-out" method="post">
          <a class="dropdown-item btn" onclick="this.parentNode.submit()">Sign Out</a>
        </form>
      </div>
    </li>
    {{else}}
      {{#if unverifiedUser}}
        <li class="nav-item">
          <form action="/user/sign-out" method="POST">
            <input class="nav-link" type="submit" value="Sign Out" style="background-color: inherit; border: none">
          </form>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/user/sign-up">Register</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="sign-in-dropdownButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sign In
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="sign-in-dropdownButton" id="sign-in-dropdown">
            <form action="/user/sign-in" method="post">
              <div class="form-group">
                <input class="form-control" type="email" name="email" id="email-input" placeholder="Email">
                <input class="form-control" type="password" name="password" id="password-input" placeholder="Password">
              </div>
              <div class="form-group text-center" style="margin-bottom: .5rem">
                <input class="btn btn-sm btn-primary btn-davidson-red" type="submit" value="Sign In">
              </div>

            </form>
          </div>

        </li>
      {{/if}}
    {{/if}}
  </ul>
</header>
